@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.contact-data {
  th {padding-bottom: 0!important}
  p {margin-bottom: 0}
}

.header-icon {
  margin-top: 4px;
}

.hajni {
  border: 1px solid $purple-light;
  padding-top: 10px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    width: 200px!important;
  }
}

.container.header, .container.footer {
  background-color: $body-background;

  th.columns {
    padding-top: $global-padding;
  }
  p {
    font-size: 10px;
    color: #555;
  }
}

.message {
  padding: $global-padding;
  background-color: $message-gray;
}

.button table td {transition: background-color 0.5s ease}

.rounded .main-content {
  border-collapse:separate;
  border-bottom-left-radius:10px;
  -moz-border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  -moz-border-bottom-right-radius:10px;
}

.large-offset-05 {
  padding-left: 31px!important;
}

// TYPO

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  color: $purple-light
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}

.purple {
  color: $purple-light;
}
