---
subject: Tout ce qu’il faut savoir sur les implants dentaires
description: Tout ce qu’il faut savoir sur les implants dentaires
---

<container class="header">
  <row>
    <columns small="12" large="12">
      <p class="text-center"> </p>
    </columns>
  </row>
</container>
<container class="main-content">
  <row class="collapse">
    <columns small="12" large="12">
      <img src="http://www.madenta.fr/email-campagin/assets/img/header-bg-final.jpg" alt="">
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <h2>MADAME, Monsieur,</h2>
      <p>Merci de nous avoir contactés au sujet des implants dentaires. Nous savons que le plus difficile est toujours de faire le premier pas, c’est la raison pour laquelle nous voudrions vous aider avec plus de renseignements.</p>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <p class="message">Chez Madenta nous avons déjà participé à retrouver le sourire et la confiance en soi pour des milliers de patients. Permettez-nous de vous aider aussi</p>
    </columns>
  </row>
  <row>
    <columns>
      <h1>Si vous avez des questions, n’hésitez pas à me contacter!</h1>
    </columns>
  </row>
  <row>
    <columns small="12" large="3">
      <center>
        <img class="hajni" src="http://www.madenta.fr/email-campagin/assets/img/hajni-final.jpg" alt="">
      </center>
    </columns>
    <columns small="12" large="7" class="large-offset-05">
      <p>"Bonjour! Je m’appelle Hajnalka Szalai, je suis la coordinatrice des patients francophones chez Madenta. Je m’occupe personnellement du suivi des patients francophones pendant leurs soins dentaires - dès la première prise de contact jusqu’à la fin du dernier traitement. Si vous avez des questions en ce qui concerne les soins, les prix, l’organisation du séjour, ou bien concernant les logements les plus avantageux et les programmes à Budapest, contactez-moi!"</p>
      <p>Cliquez sur le bouton ci-dessous pour lire plus de détails des types d’implants dentaires, des avantages d’en avoir et comment ils vont</p>
      <spacer size="20"></spacer>
      <button href="http://www.madenta.fr/wp-content/uploads/MADENTA-implants_dentaires.pdf" class="small-expanded small radius">Si vous ne pouvez pas télécharger l'attachement, cliquez ici SVP.</button>
    </columns>
    <columns large="1">

    </columns>
  </row>
  <row>
    <columns small="12" large="8">
      <p>J’attends votre appel au numéro de téléphone 0970 777 602, ou bien votre message à l’adresse e-mail francais@madenta.eu.</p>
      <p>Merci de votre attention.</p>
      <p>Cordialement: <br>
        MADENTA – Centre Soins Dentaires
      </p>
    </columns>
    <columns small="12" large="4">

    </columns>
  </row>
  <row class="contact-data">
    <columns small="12" large="12">
        <p><a href="tel:0970777602">0970 777 602</a></p>
        <p><a href="mailto:francais@madenta.eu">francais@madenta.eu</a></p>
        <p><a href="http://www.madenta.fr">www.madenta.fr</a></p>
        <spacer size="50"></spacer>
    </columns>
  </row>
</container>
<container class="footer">
  <row>
    <columns small="12" large="12">
      <p class="text-center">Madenta gère et stock toutes les données reçues en suivant les lois appliquées. Si vous ne souhaitez plus recevoir notre lettre d’information ou bien vous souhaitez faire annuler votre adresse e-mail de notre base de données, veuillez cliquer <a href="http://www.madenta.fr/email-campagin/unsubscribe/?utm_source=newsletter&email=">ici</a>. </p>
    </columns>
  </row>
</container>
